@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

body {
    padding: 100px;
    background-color: #393646;
    font-family: "Questrial", sans-serif;
    }
.column1 {
    width: 40%;
    text-align: left;
    border-right: 1px solid #e0e6f4;
    height: fit-content;

}
.column2 {
    width: 40%;
    
}

.landing {
    display: flex;
}
p {
    color: #F4EEE0;
    font-size: 2vw;
    float: left;
}
b {
    color: #e0e6f4;
    font-size: 2.5vw;
    font-family: "Josefin Sans", sans-serif;
    background-image: linear-gradient(
    -225deg,
    #d299c2 0%,
    #8ec5fc 29%,
    #d299c2 67%,
    #8ec5fc 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;

}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    float: right;
    opacity: 0.9;
}
button {
    border-radius: 12px;
    border: 2px solid #e0e6f4;
    transition-duration: 0.4s;
    background-color: #393646;
    color: #F4EEE0;
    padding: 15px 24px;
    cursor: pointer;
    font-size: 50%;
}
button:hover {
    background-color: #F4EEE0;
    color: #393646;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}